{{ define "main" }}
{{- partial "content/breadcrumb.html" . -}}

<div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-14">

  <article class="md:col-span-2 prose lg:prose-lg">

    <header class="not-prose">
      
      <h1 id="title" class="text-4xl font-bold leading-normal">{{ .Title }}</h1>

      <div id="lead" class="my-6">

        <p class="font-bold">{{ .Params.description }} </p>

      </div>
      
      <div id="writer" class="flex flex-col space-y-4">

        <div class="flex items-center space-x-4">

          {{- $name := .Site.Params.Author.name -}}

          {{- with $avatar := resources.Get $.Site.Params.Author.avatar }}

          <img class="w-12 h-12 bg-black rounded-full" src="{{ $avatar.Permalink }}" alt="{{ $name }} avatar" width="{{ $avatar.Width }}" height="{{ $avatar.Height }}">

          {{- end -}}
          
          <ul class="flex items-center space-x-4 flex-nowrap whitespace-nowrap overflow-x-auto">
            
            <li class="font-semibold my-2">{{ $.Site.Params.Author.name }}</li>
            
            <li class="before:content-['•'] before:mr-2 before:opacity-50 my-2">
              {{- $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" -}}
              {{- $dateHuman := .Date | time.Format ":date_long" -}}
              <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
            </li>

            <li class="before:content-['•'] before:mr-2 before:opacity-50 my-2">
              {{ .ReadingTime }} min read
            </li>

          </ul>

        </div>

        <!-- Categories -->
        {{- partial "terms.html" (dict "taxonomy" "categories" "page" .) -}}

        <!-- Tags -->
        {{- partial "terms.html" (dict "taxonomy" "tags" "page" .) -}}

      </div>
      
    </header>

    <figure id="featureimage" class="rounded-xl aspect-video">

      {{- if .Params.image }}

        {{- if ( strings.HasPrefix .Params.image "http" ) }}

          <img class="rounded-lg" src="{{ .Params.image }}" alt="{{ .Params.title }}">

        {{- else }}

          {{- with $image := resources.Get $.Params.image }}
            {{- $image := $image.Resize "750x" }}
            <img class="rounded-lg" src="{{ $image.Permalink }}" alt="{{ $.Params.title }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
          {{- end }}

        {{- end }}

      {{- end }}

      {{- if ( isset .Params "caption" ) }}
        <figcaption class="text-center italic text-xs">{{ .Params.caption }}</figcaption>
      {{- end }}

    </figure>

    <div id="content" class="mb-14">
      <!-- Content -->

      {{- .Content -}}

    </div>

    <footer id="content-footer" class="not-prose">

      <div id="comment" class="border border-zinc-200 p-8 bg-zinc-100 rounded-2xl dark:border-zinc-800 dark:bg-zinc-900">

        <h2 class="text-xl font-semibold">Comment</h2>

        {{- $provider := default "" .Site.Params.comments.provider -}}
        {{- if eq $provider "giscus" -}}
          {{- partial "comments/giscus.html" . -}}
        {{- else -}}
          <p>Disqus comment here</p>
        {{- end -}}

      </div>

      <div id="author-box" class="my-8 md:my-14 border border-zinc-200 p-8 bg-zinc-100 rounded-2xl dark:border-zinc-800 dark:bg-zinc-900">

        {{- with $avatar := resources.Get $.Site.Params.Author.avatar }}
          {{- $profile := $avatar.Resize "320x" -}}
          <img class="w-20 h-20 rounded-full object-cover" src="{{ $profile.Permalink }}" alt="{{ $.Site.Params.Author.name }}">
        {{- else }}
          <img class="w-20 h-20 rounded-full object-cover" src="{{ $.Site.Params.Author.avatar }}" alt="{{ $.Site.Params.Author.name }}">
        {{- end }}

        <h2 class="text-xl font-bold my-4">Written by : {{ $.Site.Params.Author.name }}</h2>

      </div>

      <div id="related-post" class="">

        <h2 class="text-xl md:text-2xl font-bold mb-6 md:mb-8">Recommended for You</h2>

        {{- $related := .Site.RegularPages.Related . | first 2 -}}

        {{- with $related -}}

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

          {{- range . }}

          {{- partial "content/card.html" . -}}

          {{- end }}
          
        </div>

        {{- end }}
      </div>

    </footer>

  </article>

  <!-- Aside -->
  <aside class="md:col-span-1">

    {{- partial "content/aside.html" . -}}
    
  </aside>

</div>
  
{{ end }}
